<h3>{{title}}</h3>
<table class="table table-striped table-bordered"  *ngIf="toggle">
        <thead>
            <th>User Id</th><th>Name</th><th>Address</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.userId}}</td><td>{{user.name}}</td><td>{{user.address}}</td>
            </tr>
        </tbody>
</table>
<br/>

<button (click)="hideClick()" class="btn btn-success">send</button>

<button (click)="changeName()" class="btn btn-danger">change value</button>




